
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = { "cassandra-server": { "unique": true, "count": 1000, "admin":false } }
    node_selector($('#drag_drop'), constraints)
  });

